@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 0;
    font-family: sans-serif;

}
.vl{
    margin-right: 0;
    margin-left: 0;
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}
.menu{
    float: right;
}
#logoAndSlogan {
    background-color: #de696b;

}
#slogan {
    font-size: 2.3vmax;
    font-family: sans-serif;
    color: white;
}

.navbar-brand a {
    list-style: none;
    text-decoration: none;
    color: #0041ff;
}

.caro{
    height: 100%;
}
.row-container {
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

.mod-newsflash-adv__counters i {
    display: block;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #ffffff;
    padding-top: 55px;
}
.mod-newsflash-adv__counters.co_home .item .item_content .circle {
    background: rgba(255, 255, 255, 0.2);
}


.circle {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
     background: rgba(255, 255, 255, 0.46);
    border-radius: 500px;
     transition: 1S;
}
.circle:hover{
     background: #de696b;
}

@media (min-width: 992px) {
    .carousel{
            height: 550px;
    }

}
@media (min-width: 992px) {
    .vc12{
        height: 400px;
    }

}

.vll{
    background: url("../image/anh444.jpg " )
}


article{
    display: inline-block;
    padding-top: 9%;
    padding-bottom: 14%;
    padding-left: 5.9%;

}

.cr3 > i {
    display: block;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 8px;
    color: #ffffff;
    padding-top: 55px;
}

.circlee {
    text-align: center;

    height: 135px;
    float: left;
    padding-left: 6%;

}

.anh{
padding-top: 2%;

}
.anh1,.anh2,.anh3{
    float: left;
    margin-left: 3%;
}
.anh1,.anh2,.anh3 :hover{

    background: rgba(255, 255, 255, 0.46);

}
h1{
    letter-spacing: 3px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #444;
    position: relative;
    padding: 0 0 24px 0;
    text-align: center;
    text-transform: uppercase;
    margin-top: 7%;
}
h4{
    color: #de696b;
    margin-top:0;padding-bottom:4% ;
    font: 400 18px/26px 'Cookie', cursive;
}
.fa-3x {
    font-size: 2em;
    color: black;}
footer{
    background: #de696b;
}
.footer-text {
    font-size: 20px;
     font-weight: bold;
     color: white;
     float: left;
}
@media (min-width: 992px) {
    .it{

        padding-left: 29%;
    }
}

@media (min-width: 992px) {
    .group-chat {
        margin-left: 3%;
    }

    .owl-item {
        float: left;
        padding-right: 3%;
    }

}
@media (max-width: 320px) {
    .header-content{
width: 81%;
    }
    .cdgv{
        padding-right: 26%;
    }
}
@media (max-width: 320px) {

    .itemm {
        padding-left: 6%;

    }}

    .clg {
        box-shadow: 2px 1px 1px gainsboro;
    }

    #login-ccc {
        position: relative;
        display: block;
    }

    .login-iteam {
        display: none;
        position: absolute;
        top: 103px;
        right: 1%;
        padding: 15px;
        background: #eeeeee;
        color: pink;
        max-width: 293px;
        color: white;
        z-index: 10;
    }

    .facevcl {
        background: #29487d;
        color: white;
    }

    .facevcl:hover {
        background: #29487d;
        color: white;
    }

    .ggvcl1 {
        background: #db4437;
        color: white;
    }

    .ggvcl1:hover {
        background: #db4437;
        color: white;
    }

    .lgvcl {
        background: olivedrab;
        color: white;
    }

    .lgvcl:hover {
        background: olivedrab;
        color: white;
    }

    .collapse.in {
        display: table;
        float: right;
        background: white
    }

    .anh1:hover img {
        transform: translate(0, -10px);
        box-shadow: 0 5px 5px 0 pink;

    }

    .anh2:hover img {
        transform: translate(0, -10px);
        box-shadow: 0 5px 5px 0 pink;

    }

    .anh3:hover img {
        transform: translate(0, -10px);
        box-shadow: 0 5px 5px 0 pink;

    }

    .anh1 img {
        transition: all 0.5s ease;
    }

    .anh2 img {
        transition: all 0.5s ease;
    }

    .anh3 img {
        transition: all 0.5s ease;
    }

    .anh1 > img {
        border: solid 7px pink;
    }

    .anh2 > img {
        border: solid 7px pink;
    }

    .anh3 > img {
        border: solid 7px pink;
    }

    /* rol chuot

     */
    .slideanim {
        visibility: hidden;
    }

    .slide1 {
        animation-name: slide1;
        -webkit-animation-name: slide1;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }

    @keyframes slide1 {
        0% {
        / / / / / / / / / / / / opacity: 0;
            transform: translateY(70%);
        }
        100% {
            opacity: 1;
            transform: translateY(0%);
        }
    }
    @-webkit-keyframes slide1 {
        0% {
            opacity: 0;
            -webkit-transform: translateY(70%);
        }
        100% {
            opacity: 1;
            -webkit-transform: translateY(0%);
        }
    }


    .form-inline label {
        padding-right: 1%;
        padding-left: 1%;
    }

    .form-inline {
        padding-left: 5%;
    }

    .menu > li > a:hover {
        background: #de696b;
        color: white;
    }

    .menu > li > a {
        color: black;
        font-weight: 700 !important;
        font: 16px / 23px 'Open Sans', sans-serif;

    }

    .menu .active {
        color: white;
        background: #de696b;
    }
/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;

}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;

}

.loginmodal-submit {
    border: 0;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 11px 0;
    font-size: 14px;

}

.loginmodal-submit:hover {

    border: 0;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;

}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}
.modal-backdrop.in{
    z-index: 1;
}