@import url(https://fonts.googleapis.com/css?family=Great+Vibes);
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-left: 0;
    font-family: sans-serif;

}

.vl{
    margin-right: 0;
    margin-left: 0;
    margin-top: 1.5%;
    margin-bottom: 1.5%;

}
.menu{
    float: right;
}
#logoAndSlogan {
    background-color: #de696b;

}
#slogan {
    font-size: 2.3vmax;
    font-family: sans-serif;
    color: white;
}

.navbar-brand a {
    list-style: none;
    text-decoration: none;
    color: #0041ff;
}
#chat {left: 56%;}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
 }
.clgt{
    margin-bottom: 0px;
}
.caro{
    height: 100%;
}
.row-container {
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
    background: white;
}

.mod-newsflash-adv__counters i {
    display: block;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #ffffff;
    padding-top: 55px;
}
.mod-newsflash-adv__counters.co_home .item .item_content .circle {
    background: rgba(255, 255, 255, 0.2);
}


 .circle {
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 0 auto;
     background: rgba(255, 255, 255, 0.46);
    border-radius: 500px;
     transition: 1S;
}
 .circle:hover{
     background: #de696b;
 }
@media (min-width: 992px) {
    .carousel{
            height: 550px;
    }

}
@media (min-width: 992px){
    h1{
        font-size: 70px;
    }
}
article{
    display: inline-block;
    padding-top: 9%;
    padding-bottom: 14%;
    padding-left: 6.9%;

}
i {
    display: block;
    font-size: 48px;
    line-height: 26px;
    margin-bottom: 30px;
    color: #ffffff;
    padding-top: 55px;
}

.circlee {
    text-align: center;

    height: 135px;
    float: left;
    padding-left: 6%;

}
.vll{
    background: url("../image/anh666.jpg") no-repeat;
}
.anh{
padding-top: 2%;

}
.anh1,.anh2,.anh3{
    float: left;
}
.anh1,.anh2{
    padding-right: 5%;


}
.anh1,.anh2,.anh3 :hover{

    background: rgba(255, 255, 255, 0.46);

}
h1{


    margin-bottom: 26px;
    letter-spacing: 3px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #444;
    position: relative;
    padding: 0 0 24px 0;
    text-align: center;
    text-transform: uppercase;

    margin-top: 7%;
}
h4{
    color: #de696b;
    margin-top:0;padding-bottom:4% ;
    font: 400 18px/26px 'Cookie', cursive;
}

.fa-3x {
    font-size: 2em;
    color: black;}

footer{
    background: #de696b;
}
 .footer-text {
     padding-top: 3%;
     padding-left: 3%;
     padding-bottom: 7%;
    font-size: 20px;
     font-weight: bold;
     color: white;
     float: left;
     width: 33.33%;
 }
@media (min-width: 992px) {
    .it{
        padding-bottom: 15%;
        padding-left: 29%;
    }
}

@media (min-width: 992px) {
    .group-chat {
        margin-left: 3%;
    }

    .owl-item {
        float: left;
        padding-right: 3%;
    }

}
.clg{
    box-shadow: 2px 1px 1px gainsboro;
}
